<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Steam_Library_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Steam_Library_Manager.Properties.Settings>
            <setting name="steamInstallationPath" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultGameSortingMethod" serializeAs="String">
                <value>appName</value>
            </setting>
            <setting name="gameSizeCalculationMethod" serializeAs="String">
                <value>ACF</value>
            </setting>
            <setting name="archiveSizeCalculationMethod" serializeAs="String">
                <value>compressed</value>
            </setting>
            <setting name="ParallelAfterSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="includeSearchResults" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayASoundOnCompletion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LibraryStyle" serializeAs="String">
                <value>Grid</value>
            </setting>
            <setting name="CheckforUpdatesAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Global_RemoveOldFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Global_Compress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Global_ReportFileMovement" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Global_StartTaskManagerOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomSoundFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchText" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseTheme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
            <setting name="ThemeAccent" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="CompressionLevel" serializeAs="String">
                <value>Fastest</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="SteamID64" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskManager_Logs_AutoScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultCompactLevel" serializeAs="String">
                <value>XPRESS8K</value>
            </setting>
            <setting name="AdvancedCompactSizeDetection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaskManager_AutoClear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompactDetection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaskManager_ContinueOnError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaskManager_SteamRestartSkip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUserVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="Steam_IsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Origin_IsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Uplay_IsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UplayExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UplayDbPath" serializeAs="String">
                <value />
            </setting>
            <setting name="InstallationWizardShown" serializeAs="String">
                <value>False</value>
            </setting>
        </Steam_Library_Manager.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sentry.Protocol" publicKeyToken="fba2ec45388e2af0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4.0" newVersion="1.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup></configuration>
