<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.5.0" targetFramework="net45" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net462" />
  <package id="Costura.Fody" version="3.3.2" targetFramework="net45" developmentDependency="true" />
  <package id="Dirkster.ColorPickerLib" version="1.5.0" targetFramework="net45" />
  <package id="Dirkster.NumericUpDownLib" version="2.1.1" targetFramework="net45" />
  <package id="FileCopyLib" version="1.1.0.0" targetFramework="net45" />
  <package id="Fody" version="4.0.2" targetFramework="net462" developmentDependency="true" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net462" />
  <package id="gong-wpf-dragdrop" version="1.1.0" targetFramework="net462" />
  <package id="Gu.Localization" version="6.4.3.0" targetFramework="net45" />
  <package id="Gu.Localization.Analyzers" version="6.4.3.0" targetFramework="net45" developmentDependency="true" />
  <package id="Gu.Wpf.Localization" version="6.4.3.0" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net45" />
  <package id="NLog" version="4.5.11" targetFramework="net45" />
  <package id="NLog.Config" version="4.5.11" targetFramework="net45" />
  <package id="NLog.Schema" version="4.5.11" targetFramework="net45" />
  <package id="Resource.Embedder" version="1.2.8" targetFramework="net462" developmentDependency="true" />
</packages>