<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net45" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net45" developmentDependency="true" />
  <package id="Dirkster.ColorPickerLib" version="1.0.0" targetFramework="net45" />
  <package id="Fody" version="2.3.18" targetFramework="net45" developmentDependency="true" />
  <package id="gong-wpf-dragdrop" version="1.2.0-alpha0057" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.6.0-alpha0184" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.1-beta3" targetFramework="net45" />
  <package id="SharpRaven" version="2.2.0" targetFramework="net45" />
</packages>